<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="adminstyle.css">
    <title>Document</title>
    <link href="https://netdna.bootstrapcdn.com/twitter-bootstrap/2.2.2/css/bootstrap.no-icons.min.css" rel="stylesheet">

<style>

h2 {
  margin-bottom: 50px;
}

.container {
  text-align: center;
  overflow: hidden;
  width: 800px;
  margin: 0 auto;
}

.container table {
  width: 100%;
}

.container td, .container th {
  padding: 10px;
}

.container td:first-child, .container th:first-child {
  padding-left: 20px;
}

.container td:last-child, .container th:last-child {
  padding-right: 20px;
}

.container th {
  border-bottom: 1px solid #ddd;
  position: relative;
}
#mytable tr td:nth-child(4) {
color: red;
font-weight:bold ;
}


</style>






    </head>
    <body>
      <div class="sidebar">
        <a class="active" href="/admin/DashBoard">Admin Dashboard</a>
        <a href="/admin/update ">Update</a>
        <a href="/admin/receipt">Receipt</a>
        <a href="/admin/alldata">Details</a>
        <a onclick="erase()" href="/admin/logout">Logout</a>
        
      </div>
    
    
    

    <section class="container">

        <h2>REGISTRATION LIST</h2>
    
       
      
      
      <select type="search" class="select-table-filter" data-table="order-table" oninput="they(this.value)" id="filter" onchange="down(this.value)">
        <option value="">Reset</option>  
        
      <select>
    
        <table class="order-table">
            <thead><tr>
                <th><span id="sno" class="w3-button table-column">S.NO</span></th>
                <th><span id="name" class="w3-button table-column">Name </span></th>
                <th><span id="quantity" class="w3-button table-column">Event</span></th>
                <th><span id="price" class="w3-button table-column"> TokenID</span></th>
                <th><span id="expiry" class="w3-button table-column" > Payment Status</span></th>
                <th><span id="paid" class="w3-button table-column"> Pay Mode</span></th>
                <th><span id="phone" class="w3-button table-column">Phone </span></th>
              </tr></thead>
              <tbody id="mytable" style="width: 100%"  border="1"></tbody>
           
        </table>
    
    </section>


    <script>

function down(val){
  const Down=document.getElementById('filter');
  
 
  document.getElementById("myForm").elements[0].value=val;
  
}



    var example_array = {
   
    "Cosplay - Solo": "Cosplay - Solo",
    "Cosplay - Duo": "Cosplay - Duo",
    "Cosplay - Trio": "Cosplay - Trio",
    "Cosplay - Group":"Cosplay - Group",
     "Ritzy": "Ritzy",
    "Rockville":  "Rockville",
    "Voice of Ekarikthin": "Voice of Ekarikthin",
    "Dance - Solo": "Dance - Solo",
    "Dance - Crew": "Dance - Crew",
    "Beatbox":"Beatbox",
  
    "Robo Race":  "Robo Race",
     "Typing Master": "Typing Master",
    "CodeCast": "CodeCast",
    "Web Design": "Web Design",
   "Agile Ideas":"Agile Ideas",
    
    
    "Virgowords": "Virgowords",
    "Quiz Buzz": "Quiz Buzz",
  

   
    "BGMI": "BGMI",
    "CSGO": "CSGO",
    
    "Mobile legends": "Mobile legends",

 
    "Table Tennis": "Table Tennis",
     "Volleyball": "Volleyball",
   "Penalty Shootout":"Penalty Shootout",
    "Gully Cricket": "Gully Cricket",
    "Badminton": "Badminton",
    "Mountain Biking": "Mountain Biking",
 
 
    "Treasure Hunt": "Treasure Hunt",
    "Wall Painting": "Wall Painting",
    "Rangoli Competition": "Rangoli Competition",
    "Survivo":"Survivo",
    "Instagram Photo Likes Contest":"Instagram Photo Likes Contest",
  
    };
    
    var select = document.getElementById("filter");
    for(index in example_array) {
        select.options[select.options.length] = new Option(example_array[index], example_array[index]);
    }

    
    var ch=localStorage.getItem('user');
    const user= JSON.parse(ch);


    
  
  
  async function they(eve){

 

const data = await axios.get('/admin/details',{
          headers: {
            "Content-Type": "application/json",
            Authorization: `Bearer ${user.token}`,
          },
          params: {
    eve
  }
        },eve) .then((response) => {       
       
        allregis=response.data.allRegs;

          populateTable(allregis);
       

        });
    }



    function populateTable(tableData) {
      var table = document.getElementById('mytable');
   table.innerHTML = '';
   var i=0;
   for (let data of tableData) {
     let row = table.insertRow(-1);
     
     let sno = row.insertCell(0);
     sno.innerHTML = ++i;
     let name = row.insertCell(1);
     name.innerHTML = data.name;
     
 
     let quantity = row.insertCell(2);
     quantity.innerHTML = data.event;
 
     let price = row.insertCell(3);
     price.innerHTML = data.tokenId;
     
 
     let expiry = row.insertCell(4);
     expiry.innerHTML = data.paid;


     let paid = row.insertCell(5);
     paid.innerHTML = data.paymentMode;


     let phone = row.insertCell(6);
     phone.innerHTML = data.phone;
   }
  }


    </script>
    <!--<script>
        (function(document) {
	'use strict';

	var LightTableFilter = (function(Arr) {

		var _input;
    var _select;

		function _onInputEvent(e) {
			_input = e.target;
			var tables = document.getElementsByClassName(_input.getAttribute('data-table'));
			Arr.forEach.call(tables, function(table) {
				Arr.forEach.call(table.tBodies, function(tbody) {
					Arr.forEach.call(tbody.rows, _filter);
				});
			});
		}
    
		function _onSelectEvent(e) {
			_select = e.target;
			var tables = document.getElementsByClassName(_select.getAttribute('data-table'));
      they(_select);
      console.log(_select);
			Arr.forEach.call(tables, function(table) {
				Arr.forEach.call(table.tBodies, function(tbody) {
					Arr.forEach.call(tbody.rows, _filterSelect);
				});
			});
		}

		function _filter(row) {
      
			var text = row.textContent.toLowerCase(), val = _input.value.toLowerCase();
			row.style.display = text.indexOf(val) === -1 ? 'none' : 'table-row';

		}
    
		function _filterSelect(row) {
         var i=0;
			var text_select = row.textContent.toLowerCase(), val_select = _select.options[_select.selectedIndex].value.toLowerCase();
			if( text_select.indexOf(val_select) === -1)
            {
                row.style.display ='none' ;
            }
            else{
            row.style.display ='table-row';
           // console.log( row.textContent)
        }
           
           // document.getElementById("mytable").rows[0].cells.item(0).innerHTML= ++i;
            
		}

		return {
			init: function() {
				var inputs = document.getElementsByClassName('light-table-filter');
				var selects = document.getElementsByClassName('select-table-filter');
				Arr.forEach.call(inputs, function(input) {
					input.oninput = _onInputEvent;
				});
				Arr.forEach.call(selects, function(select) {
         select.onchange  = _onSelectEvent;
				});
			}
		};
	})(Array.prototype);

	document.addEventListener('readystatechange', function() {
		if (document.readyState === 'complete') {
			LightTableFilter.init();
		}
	});

})(document);
    </script>-->
    
    </body>
</html>