<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css" type="text/css">
    <title>Admin</title>
</head>
<body>
    <section>
        <div class="container">
          <form method="post" action="/admin/signup">
            
            <div class="step step-1 active">
                <legend>Admin Sign Up</legend>
              <div class="form-group">
                <label for="username">Username</label>
                <input type="text" id="username" name="username">
              </div>
              <div class="form-group">
                <label for="password">Password</label>
                <input type="password" id="password" name="password">
              </div>
              <div class="form-group">
                <label for="password">Confirm Password</label>
                <input type="password" id="Cpassword" name="Cpassword">
              </div>
              <div class="form-group">
                <label for="eventCode">Event Code</label>
                <input type="text" id="EventCode" name="eventCode">
              </div>
              <div class="form-group">
                <label for="role">Role</label>
                <input type="text" id="role" name="role">
              </div>
              
              <button type="submit" class="submit-btn">Log In</button>
            </div>
      
          </form>
        </div>
      </section>
    
</body>
</html>